# Secrets
.*
.*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
!.env.template
.venv/

# Studio-specific
.idea/
.vscode/
.run/

# Logs
*.log

# macOS Files
.DS_Store

# Project
datasets/
db-data/
excluded_resources/
fybot/config/td_access_token.pickle
fybot/resources/
