# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
.idea/.gitignore
.idea/codeStyles/
.idea/csv-plugin.xml
.idea/dataSources.xml
.idea/fybot.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/sqldialects.xml
.idea/vcs.xml
.vscode/
datasets/
excluded_resources/
fybot/config/config.py
fybot/resources/.ipynb_checkpoints/
fybot/resources/chromedriver.exe
fybot/resources/docstring_example.py
fybot/resources/pipupdater.py
fybot/resources/tdaapi_demo.py
fybot/tests/__pycache__/
venv/Include/
venv/Lib/site-packages/Authlib-0.15.4.dist-info/
venv/Lib/site-packages/GitPython-3.1.24.dist-info/
venv/Lib/site-packages/IPython/
venv/Lib/site-packages/Jinja2-3.0.3.dist-info/
venv/Lib/site-packages/MarkupSafe-2.0.1.dist-info/
venv/Lib/site-packages/OpenSSL/
venv/Lib/site-packages/PIL/
venv/Lib/site-packages/Pillow-8.4.0.dist-info/
venv/Lib/site-packages/PyWin32.chm
venv/Lib/site-packages/PyYAML-6.0.dist-info/
venv/Lib/site-packages/Pygments-2.10.0.dist-info/
venv/Lib/site-packages/Pympler-0.9-py3.8.egg-info/
venv/Lib/site-packages/Send2Trash-1.8.0.dist-info/
venv/Lib/site-packages/XlsxWriter-3.0.2.dist-info/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_cffi_backend.cp38-win_amd64.pyd
venv/Lib/site-packages/_distutils_hack/
venv/Lib/site-packages/_plotly_future_/
venv/Lib/site-packages/_plotly_utils/
venv/Lib/site-packages/_pyrsistent_version.py
venv/Lib/site-packages/_yaml/
venv/Lib/site-packages/adodbapi/
venv/Lib/site-packages/aiohttp-3.8.0.dist-info/
venv/Lib/site-packages/aiohttp/
venv/Lib/site-packages/aiosignal-1.2.0.dist-info/
venv/Lib/site-packages/aiosignal/
venv/Lib/site-packages/alpaca_trade_api-1.4.1.dist-info/
venv/Lib/site-packages/alpaca_trade_api/
venv/Lib/site-packages/altair-4.1.0.dist-info/
venv/Lib/site-packages/altair/
venv/Lib/site-packages/anyio-3.3.4.dist-info/
venv/Lib/site-packages/anyio/
venv/Lib/site-packages/argon2/
venv/Lib/site-packages/argon2_cffi-21.1.0.dist-info/
venv/Lib/site-packages/astor-0.8.1.dist-info/
venv/Lib/site-packages/astor/
venv/Lib/site-packages/async_generator-1.10.dist-info/
venv/Lib/site-packages/async_generator/
venv/Lib/site-packages/async_timeout-4.0.1.dist-info/
venv/Lib/site-packages/async_timeout/
venv/Lib/site-packages/asyncio-3.4.3.dist-info/
venv/Lib/site-packages/asyncio/
venv/Lib/site-packages/asyncpg-0.24.0.dist-info/
venv/Lib/site-packages/asyncpg/
venv/Lib/site-packages/attr/
venv/Lib/site-packages/attrs-21.2.0.dist-info/
venv/Lib/site-packages/authlib/
venv/Lib/site-packages/autopep8-1.6.0.dist-info/
venv/Lib/site-packages/autopep8.py
venv/Lib/site-packages/backcall-0.2.0.dist-info/
venv/Lib/site-packages/backcall/
venv/Lib/site-packages/backports.zoneinfo-0.2.1.dist-info/
venv/Lib/site-packages/backports/
venv/Lib/site-packages/base58-2.1.1.dist-info/
venv/Lib/site-packages/base58/
venv/Lib/site-packages/beautifulsoup4-4.10.0.dist-info/
venv/Lib/site-packages/bleach-4.1.0.dist-info/
venv/Lib/site-packages/bleach/
venv/Lib/site-packages/blinker-1.4-py3.8.egg-info/
venv/Lib/site-packages/blinker/
venv/Lib/site-packa
ges/brow-0.0.3-py3.8.egg-info/
venv/Lib/site-packages/brow/
venv/Lib/site-packages/bs4/
venv/Lib/site-packages/cachetools-4.2.4.dist-info/
venv/Lib/site-packages/cachetools/
venv/Lib/site-packages/captain-4.1.1-py3.8.egg-info/
venv/Lib/site-packages/captain/
venv/Lib/site-packages/certifi-2021.10.8.dist-info/
venv/Lib/site-packages/certifi/
venv/Lib/site-packages/cffi-1.15.0.dist-info/
venv/Lib/site-packages/cffi/
venv/Lib/site-packages/chardet-4.0.0.dist-info/
venv/Lib/site-packages/chardet/
venv/Lib/site-packages/charset_normalizer-2.0.7.dist-info/
venv/Lib/site-packages/charset_normalizer/
venv/Lib/site-packages/click-8.0.3.dist-info/
venv/Lib/site-packages/click/
venv/Lib/site-packages/colorama-0.4.4.dist-info/
venv/Lib/site-packages/colorama/
venv/Lib/site-packages/cryptography-35.0.0.dist-info/
venv/Lib/site-packages/cryptography/
venv/Lib/site-packages/cycler-0.11.0.dist-info/
venv/Lib/site-packages/cycler.py
venv/Lib/site-packages/datatypes-0.2.6-py3.8.egg-info/
venv/Lib/site-packages/datatypes/
venv/Lib/site-packages/dateutil/
venv/Lib/site-packages/debugpy-1.5.1.dist-info/
venv/Lib/site-packages/debugpy/ThirdPartyNotices.txt
venv/Lib/site-packages/debugpy/__init__.py
venv/Lib/site-packages/debugpy/__main__.py
venv/Lib/site-packages/debugpy/__pycache__/
venv/Lib/site-packages/debugpy/_vendored/__init__.py
venv/Lib/site-packages/debugpy/_vendored/__pycache__/
venv/Lib/site-packages/debugpy/_vendored/_pydevd_packaging.py
venv/Lib/site-packages/debugpy/_vendored/_util.py
venv/Lib/site-packages/debugpy/_vendored/force_pydevd.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/__pycache__/
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydev_bundle/
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydev_imps/
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydev_runfiles/
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/.gitignore
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/__init__.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/__pycache__/
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_eval_cython_wrapper.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_eval_main.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.c
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.pxd
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.template.pyx
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_tracing.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_modify_bytecode.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/release_mem.h
venv/Lib/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/vendored/
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydev_app_engine_debug_startup.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydev_coverage.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydev_ipython/
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydev_pysrc.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydev_run_in_console.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydev_sitec
ustomize/
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevconsole.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevd.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevd_concurrency_analyser/
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevd_file_utils.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevd_plugins/
venv/Lib/site-packages/debugpy/_vendored/pydevd/pydevd_tracing.py
venv/Lib/site-packages/debugpy/_vendored/pydevd/setup_cython.py
venv/Lib/site-packages/debugpy/_version.py
venv/Lib/site-packages/debugpy/adapter/
venv/Lib/site-packages/debugpy/common/
venv/Lib/site-packages/debugpy/launcher/
venv/Lib/site-packages/debugpy/server/
venv/Lib/site-packages/decorator-5.1.0.dist-info/
venv/Lib/site-packages/decorator.py
venv/Lib/site-packages/decorators-2.0.7-py3.8.egg-info/
venv/Lib/site-packages/decorators/
venv/Lib/site-packages/defusedxml-0.7.1.dist-info/
venv/Lib/site-packages/defusedxml/
venv/Lib/site-packages/distutils-precedence.pth
venv/Lib/site-packages/dsnparse-0.1.15-py3.8.egg-info/
venv/Lib/site-packages/dsnparse.py
venv/Lib/site-packages/ellipticcurve/
venv/Lib/site-packages/entrypoints-0.3.dist-info/
venv/Lib/site-packages/entrypoints.py
venv/Lib/site-packages/examples/
venv/Lib/site-packages/frozenlist-1.2.0.dist-info/
venv/Lib/site-packages/frozenlist/
venv/Lib/site-packages/git/
venv/Lib/site-packages/gitdb-4.0.9.dist-info/
venv/Lib/site-packages/gitdb/
venv/Lib/site-packages/google/
venv/Lib/site-packages/h11-0.12.0.dist-info/
venv/Lib/site-packages/h11/
venv/Lib/site-packages/httpcore-0.13.7.dist-info/
venv/Lib/site-packages/httpcore-0.14.1.dist-info/
venv/Lib/site-packages/httpcore/
venv/Lib/site-packages/httpx-0.20.0.dist-info/
venv/Lib/site-packages/httpx/
venv/Lib/site-packages/idna-3.3.dist-info/
venv/Lib/site-packages/idna/
venv/Lib/site-packages/importlib_resources-5.4.0.dist-info/
venv/Lib/site-packages/importlib_resources/
venv/Lib/site-packages/ipykernel-6.5.0.dist-info/
venv/Lib/site-packages/ipykernel-6.5.0_ATHOM_Nov-12-134440-2021_conflict_parent.dist-info/
venv/Lib/site-packages/ipykernel/
venv/Lib/site-packages/ipykernel_launcher.py
venv/Lib/site-packages/ipython-7.29.0.dist-info/
venv/Lib/site-packages/ipython_genutils-0.2.0.dist-info/
venv/Lib/site-packages/ipython_genutils/
venv/Lib/site-packages/ipywidgets-7.6.5.dist-info/
venv/Lib/site-packages/ipywidgets/
venv/Lib/site-packages/isapi/
venv/Lib/site-packages/jedi-0.18.0.dist-info/
venv/Lib/site-packages/jedi/
venv/Lib/site-packages/jinja2/
venv/Lib/site-packages/jsonschema-4.2.1.dist-info/
venv/Lib/site-packages/jsonschema/
venv/Lib/site-packages/jupyter.py
venv/Lib/site-packages/jupyter_client-7.0.6.dist-info/
venv/Lib/site-packages/jupyter_client/
venv/Lib/site-packages/jupyter_core-4.9.1.dist-info/
venv/Lib/site-packages/jupyter_core/
venv/Lib/site-packages/jupyterlab_plotly/
venv/Lib/site-packages/jupyterlab_pygments-0.1.2.dist-info/
venv/Lib/site-packages/jupyterlab_pygments/
venv/Lib/site-packages/jupyterlab_widgets-1.0.2.dist-info/
venv/Lib/site-packages/jupyterlab_widgets/.gitignore
venv/Lib/site-packages/jupyterlab_widgets/__init__.py
Would
remove venv/Lib/site-packages/jupyterlab_widgets/__pycache__/
venv/Lib/site-packages/jupyterlab_widgets/_version.py
venv/Lib/site-packages/jupyterlab_widgets/labextension/package.json
venv/Lib/site-packages/jupyterlab_widgets/labextension/schemas/
venv/Lib/site-packages/kiwisolver-1.3.2.dist-info/
venv/Lib/site-packages/kiwisolver.cp38-win_amd64.pyd
venv/Lib/site-packages/lxml-4.6.4.dist-info/
venv/Lib/site-packages/lxml/
venv/Lib/site-packages/markupsafe/
venv/Lib/site-packages/matplotlib-3.4.3-py3.8-nspkg.pth
venv/Lib/site-packages/matplotlib-3.4.3.dist-info/
venv/Lib/site-packages/matplotlib/
venv/Lib/site-packages/matplotlib_inline-0.1.3.dist-info/
venv/Lib/site-packages/matplotlib_inline/
venv/Lib/site-packages/memory_profiler-0.58.0-py3.8.egg-info/
venv/Lib/site-packages/memory_profiler.py
venv/Lib/site-packages/mistune-0.8.4.dist-info/
venv/Lib/site-packages/mistune.py
venv/Lib/site-packages/mpl_toolkits/
venv/Lib/site-packages/mprof.py
venv/Lib/site-packages/msgpack-1.0.2.dist-info/
venv/Lib/site-packages/msgpack/
venv/Lib/site-packages/multidict-5.2.0.dist-info/
venv/Lib/site-packages/multidict/
venv/Lib/site-packages/multitasking-0.0.9-py3.8.egg-info/
venv/Lib/site-packages/multitasking/
venv/Lib/site-packages/nbclient-0.5.8.dist-info/
venv/Lib/site-packages/nbclient/
venv/Lib/site-packages/nbconvert-6.3.0.dist-info/
venv/Lib/site-packages/nbconvert/
venv/Lib/site-packages/nbformat-5.1.3.dist-info/
venv/Lib/site-packages/nbformat/
venv/Lib/site-packages/nest_asyncio-1.5.1.dist-info/
venv/Lib/site-packages/nest_asyncio.py
venv/Lib/site-packages/notebook-6.4.5.dist-info/
venv/Lib/site-packages/notebook/
venv/Lib/site-packages/numpy-1.21.4.dist-info/
venv/Lib/site-packages/numpy/
venv/Lib/site-packages/outcome-1.1.0.dist-info/
venv/Lib/site-packages/outcome/
venv/Lib/site-packages/packaging-21.2.dist-info/
venv/Lib/site-packages/packaging/
venv/Lib/site-packages/pandas-1.3.4.dist-info/
venv/Lib/site-packages/pandas/
venv/Lib/site-packages/pandocfilters-1.5.0.dist-info/
venv/Lib/site-packages/pandocfilters.py
venv/Lib/site-packages/parso-0.8.2.dist-info/
venv/Lib/site-packages/parso/
venv/Lib/site-packages/pickleshare-0.7.5.dist-info/
venv/Lib/site-packages/pickleshare.py
venv/Lib/site-packages/pip-20.2.4.dist-info/
venv/Lib/site-packages/pip/
venv/Lib/site-packages/pkg_resources/
venv/Lib/site-packages/plotly-5.3.1.dist-info/
venv/Lib/site-packages/plotly/
venv/Lib/site-packages/plotlywidget/
venv/Lib/site-packages/prom-3.1.0-py3.8.egg-info/
venv/Lib/site-packages/prom/
venv/Lib/site-packages/prometheus_client-0.12.0.dist-info/
venv/Lib/site-packages/prometheus_client/
venv/Lib/site-packages/prompt_toolkit-3.0.22.dist-info/
venv/Lib/site-packages/prompt_toolkit/
venv/Lib/site-packages/protobuf-3.19.1-py3.8-nspkg.pth
venv/Lib/site-packages/protobuf-3.19.1.dist-info/
venv/Lib/site-packages/psaw-0.1.0.dist-info/
venv/Lib/site-packages/psaw/
venv/Lib/site-packages/psutil-5.8.0.dist-info/
venv/Lib/site-packages/psutil/
venv/Lib/site-packages/psycopg2-2.9.2.dist-info/
venv/Lib/site-packages/psycopg2/
venv/Lib/site-packages/pvectorc.cp38-win_amd64.pyd
venv/Lib/site-packages/pyOpenSSL-21.0.0.dist-info/
v
env/Lib/site-packages/pyarrow-6.0.0.dist-info/
venv/Lib/site-packages/pyarrow/
venv/Lib/site-packages/pycodestyle-2.8.0.dist-info/
venv/Lib/site-packages/pycodestyle.py
venv/Lib/site-packages/pycparser-2.21.dist-info/
venv/Lib/site-packages/pycparser/
venv/Lib/site-packages/pydeck-0.7.1.dist-info/
venv/Lib/site-packages/pydeck/
venv/Lib/site-packages/pygments/
venv/Lib/site-packages/pylab.py
venv/Lib/site-packages/pympler/
venv/Lib/site-packages/pyparsing-3.0.6.dist-info/
venv/Lib/site-packages/pyparsing/
venv/Lib/site-packages/pyrsistent-0.18.0.dist-info/
venv/Lib/site-packages/pyrsistent/
venv/Lib/site-packages/python_dateutil-2.8.2.dist-info/
venv/Lib/site-packages/python_http_client-3.3.3-py3.8.egg-info/
venv/Lib/site-packages/python_http_client/
venv/Lib/site-packages/pythoncom.py
venv/Lib/site-packages/pythonwin/
venv/Lib/site-packages/pytz-2021.3.dist-info/
venv/Lib/site-packages/pytz/
venv/Lib/site-packages/pytz_deprecation_shim-0.1.0.post0.dist-info/
venv/Lib/site-packages/pytz_deprecation_shim/
venv/Lib/site-packages/pywin32-302.dist-info/
venv/Lib/site-packages/pywin32.pth
venv/Lib/site-packages/pywin32.version.txt
venv/Lib/site-packages/pywin32_system32/
venv/Lib/site-packages/pywinpty-1.1.5.dist-info/
venv/Lib/site-packages/pyzmq-22.3.0.dist-info/
venv/Lib/site-packages/pyzmq.libs/
venv/Lib/site-packages/requests-2.26.0.dist-info/
venv/Lib/site-packages/requests/
venv/Lib/site-packages/requests_futures-1.0.0-py3.8.egg-info/
venv/Lib/site-packages/requests_futures/
venv/Lib/site-packages/retrying-1.3.3-py3.8.egg-info/
venv/Lib/site-packages/retrying.py
venv/Lib/site-packages/rfc3986-1.5.0.dist-info/
venv/Lib/site-packages/rfc3986/
venv/Lib/site-packages/scipy-1.7.2.dist-info/
venv/Lib/site-packages/scipy/
venv/Lib/site-packages/selenium-4.0.0.dist-info/
venv/Lib/site-packages/selenium/
venv/Lib/site-packages/send2trash/
venv/Lib/site-packages/sendgrid-6.9.0.dist-info/
venv/Lib/site-packages/sendgrid/
venv/Lib/site-packages/setuptools-59.1.1.dist-info/
venv/Lib/site-packages/setuptools-59.1.1_ATHOM_Nov-18-111322-2021_conflict_current.dist-info/
venv/Lib/site-packages/setuptools/
venv/Lib/site-packages/six-1.16.0.dist-info/
venv/Lib/site-packages/six.py
venv/Lib/site-packages/smmap-5.0.0.dist-info/
venv/Lib/site-packages/smmap/
venv/Lib/site-packages/sniffio-1.2.0.dist-info/
venv/Lib/site-packages/sniffio/
venv/Lib/site-packages/sortedcontainers-2.4.0.dist-info/
venv/Lib/site-packages/sortedcontainers/
venv/Lib/site-packages/soupsieve-2.3.1.dist-info/
venv/Lib/site-packages/soupsieve/
venv/Lib/site-packages/starkbank_ecdsa-1.1.1-py3.8.egg-info/
venv/Lib/site-packages/state-0.1.1.dev0-py3.8.egg-info/
venv/Lib/site-packages/state/
venv/Lib/site-packages/streamlit-1.2.0.dist-info/
venv/Lib/site-packages/streamlit/
venv/Lib/site-packages/ta-0.7.0-py3.8.egg-info/
venv/Lib/site-packages/ta/
venv/Lib/site-packages/ta_lib-0.4.19.dist-info/
venv/Lib/site-packages/talib/
venv/Lib/site-packages/tda/
venv/Lib/site-packages/tda_api-1.4.1.dist-info/
venv/Lib/site-packages/tenacity-8.0.1.dist-info/
venv/Lib/site-packages/tenacity/
venv/Lib/site-packages/terminado-0.12.1.dist-info/
venv/Lib/site-
packages/terminado/
venv/Lib/site-packages/testpath-0.5.0.dist-info/
venv/Lib/site-packages/testpath/
venv/Lib/site-packages/tests/
venv/Lib/site-packages/tlz/
venv/Lib/site-packages/toml-0.10.2.dist-info/
venv/Lib/site-packages/toml/
venv/Lib/site-packages/toolz-0.11.2.dist-info/
venv/Lib/site-packages/toolz/
venv/Lib/site-packages/tornado-6.1.dist-info/
venv/Lib/site-packages/tornado/
venv/Lib/site-packages/tqdm-4.62.3.dist-info/
venv/Lib/site-packages/tqdm/
venv/Lib/site-packages/traitlets-5.1.1.dist-info/
venv/Lib/site-packages/traitlets/
venv/Lib/site-packages/trio-0.19.0.dist-info/
venv/Lib/site-packages/trio/
venv/Lib/site-packages/trio_websocket-0.9.2.dist-info/
venv/Lib/site-packages/trio_websocket/
venv/Lib/site-packages/typing_extensions-3.10.0.2.dist-info/
venv/Lib/site-packages/typing_extensions.py
venv/Lib/site-packages/tzdata-2021.5.dist-info/
venv/Lib/site-packages/tzdata/
venv/Lib/site-packages/tzlocal-4.1.dist-info/
venv/Lib/site-packages/tzlocal/
venv/Lib/site-packages/urllib3-1.26.7.dist-info/
venv/Lib/site-packages/urllib3/
venv/Lib/site-packages/validators-0.18.2.dist-info/
venv/Lib/site-packages/validators/
venv/Lib/site-packages/watchdog-2.1.6.dist-info/
venv/Lib/site-packages/watchdog/
venv/Lib/site-packages/watchlist-0.0.7-py3.8.egg-info/
venv/Lib/site-packages/watchlist/
venv/Lib/site-packages/wcwidth-0.2.5.dist-info/
venv/Lib/site-packages/wcwidth/
venv/Lib/site-packages/webencodings-0.5.1.dist-info/
venv/Lib/site-packages/webencodings/
venv/Lib/site-packages/websocket/
venv/Lib/site-packages/websocket_client-1.2.1.dist-info/
venv/Lib/site-packages/websockets-10.0.dist-info/
venv/Lib/site-packages/websockets/
venv/Lib/site-packages/widgetsnbextension-3.5.2.dist-info/
venv/Lib/site-packages/widgetsnbextension/
venv/Lib/site-packages/win32/
venv/Lib/site-packages/win32com/
venv/Lib/site-packages/win32comext/
venv/Lib/site-packages/winpty/
venv/Lib/site-packages/wishlist-0.5.3-py3.8.egg-info/
venv/Lib/site-packages/wishlist/
venv/Lib/site-packages/wsproto-1.0.0.dist-info/
venv/Lib/site-packages/wsproto/
venv/Lib/site-packages/xlsxwriter/
venv/Lib/site-packages/yahooquery-2.2.15.dist-info/
venv/Lib/site-packages/yahooquery/
venv/Lib/site-packages/yaml/
venv/Lib/site-packages/yarl-1.7.2.dist-info/
venv/Lib/site-packages/yarl/
venv/Lib/site-packages/yfinance-0.1.64-py3.8.egg-info/
venv/Lib/site-packages/yfinance/
venv/Lib/site-packages/zipp-3.6.0.dist-info/
venv/Lib/site-packages/zipp.py
venv/Lib/site-packages/zmq/
venv/Lib/site-packages/~atplotlib/
venv/Lib/site-packages/~in32/
venv/Lib/site-packages/~in32com/
venv/Lib/site-packages/~umpy/
venv/Lib/site-packages/~ywin32_system32/
venv/Scripts/
venv/etc/
venv/pyvenv.cfg
venv/share/


/datasets/
/.vscode/
/venv/
*.pyc
/.idea
/fybot/config/config.py
*tmp_*
/excluded_resources/
