aiohttp
alpaca-trade-api
asyncio
asyncpg
cryptography
httpx
lxml
matplotlib
numpy
pandas
plotly
psaw
psycopg2
python-dateutil
pytz
requests
scipy
selenium
streamlit
ta
tda-api
yahooquery
yfinance

ipython
state
setuptools

numba
