{% extends "layout.html" %}
{% block content %}
<h1>
    <div class="ui massive breadcrumb">
        <div class="active section">Technical Scanner</div>
    </div>
</h1>
<form action="#" method="GET">
    <input type="button" onclick="window.location.href='/snapshot';" value="Refresh Data"/>
    Last update: {{ data_last_modified }}
    <br>
</form>
<form action="#" method="POST">
    <table>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='consolidating'
                              {% if active_filters['consolidating']['go'] == True %}checked{% endif %}>
                    Consolidating</label>
                <label> within <input type='number' name='consolidating_pct'
                                      value="{{ active_filters['consolidating']['pct'] }}" min="0" step="0.5">%</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='breakout'
                              {% if active_filters['breakout']['go'] == True %}checked{% endif %}> Breakout</label>
                <label> over <input type='number' name='breakout_pct' value="{{ active_filters['breakout']['pct'] }}"
                                    min="0" step="0.5">%</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='ttm_squeeze'
                              {% if active_filters['ttm_squeeze']['go'] == True %}checked{% endif %}> TTM Squeeze
                    (Coming out of Squeeze)</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='in_the_squeeze'
                              {% if active_filters['in_the_squeeze']['go'] == True %}checked{% endif %}> TTM Squeeze (In
                    the Squeeze)</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='ema_stacked'
                              {% if active_filters['ema_stacked']['go'] == True %}checked{% endif %}> EMA positively
                    Stacked</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='candlestick'
                              {% if active_filters['candlestick']['go'] == True %}checked{% endif %}>
                    Candlestick</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='sma_filter'
                              {% if active_filters['sma_filter']['go'] == True %}checked{% endif %}> SMA
                    crossover</label>
                <label> Fast <input type='number' name='sma_fast' value="{{ active_filters['sma_filter']['fast'] }}"
                                    min="0" step="5"> & </label>
                <label>Slow <input type='number' name='sma_slow' value="{{ active_filters['sma_filter']['slow'] }}"
                                   min="0" step="5"> days</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='investor_reco'> Investor Reco (finviz.com). Takes a
                    long time</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input disabled type='checkbox' name='settings' value='focus_stocks'></label>
                <label> Focus stocks: <input type='text' name='focus_stocks' value='' style="width: 100px"
                                             placeholder="AAPL, AMD, NVDA, TQQQ .... coming soon!]" disabled></label>
            </td>
        </tr>
    </table>
    <input type="submit" value="Refresh Filters">
</form>
<table class="ui compact table">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Company</th>
        <th>Bull Candle Signal</th>
        <th>Bear Candle Signal</th>
        <th>Investor's Reco</th>
    </tr>
    </thead>
    <tbody>
    {% for symbol in stocks %}
    <tr>
        <td>
            <a href="https://www.finviz.com/quote.ashx?t={{ symbol }}"
               onmouseover="document.getElementById('place-holder-1').src='https://finviz.com/chart.ashx?t={{ symbol }}&ty=c&ta=1&p=d&s=l';"
               onmouseout="document.getElementById('place-holder-1').src='https://linkpeek.com/theme/img/linkpeek-transparent-pixel-placeholder.png';">
                {{ symbol }}
                <img src="https://linkpeek.com/theme/img/linkpeek-transparent-pixel-placeholder.png"
                     id="place-holder-1" style="zindex: 100; position: absolute;" alt=""/>
            </a>
        </td>
        <td>
            <a href="/stock/{{ symbol }}">{{ stocks[symbol]['Security'] }}</a>
        </td>
        {% autoescape false %}
        <td class="bullish">
            {{ stocks[symbol]['cdl_sum_bul']  | replace(", ", "<br/>") }}
        </td>
        <td class="bearish">
            {{ stocks[symbol]['cdl_sum_ber']  | replace(", ", "<br/>") }}
        </td>
        <td class="investor_sum">
            {{ stocks[symbol]['investor_sum'] }}
        </td>
        {% endautoescape %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
