<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Fundamental  -->
    <meta charset="UTF-8">
    <title>Financial Scanner</title>
    <meta name="desciption" content>
    <meta name="author" content>
    <!-- Mobile needs  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts  -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS  -->
    <link rel="stylesheet" href="http://getskeleton.com/dist/css/normalize.css">
{#    <link rel="stylesheet" href="http://getskeleton.com/dist/css/skeleton.css">#}
{#    <link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2dldHNrZWxldG9uLmNvbS8">#}
{#    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>#}
    <style>
        body {
            font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: small;
            margin: 20px;
        }

        td {
            padding: 5px;
            font-size: small;
        }

        .bullish {
            background: green;
            color: white;
        }

        .bearish {
            background: red;
            color: white;
        }

        .consolidating {
            background: green;
            color: white;
        }

        .breakout {
            background: green;
            color: white;
        }
    </style>
</head>
<body>
<h1>Technical Scanner</h1>
<form action="#" method="GET">
    <input type="button" onclick="window.location.href='/snapshot';" value="Refresh Data"/>
     Last update: {{ data_last_modified }}
{#    <button onClick="window.location.reload();">Refresh Page</button>#}
    <br>
</form>
<form action="#" method="POST">
    <table>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='consolidating'> Consolidating</label>
            </td>
            <td>
                <label>Consolidating within <input type='number' name='consolidating_pct' value="2" style="width: 50px">%</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='breakout'> Breakout</label>
            </td>
            <td>
                <label>Breakout over <input type='number' name='breakout_pct' value="2.5" style="width: 50px">%</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='ttm_squeeze'> TTM Squeeze</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='candlestick' checked> Candlestick</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type='checkbox' name='filter' value='sma_filter'> SMA Fast above Slow</label>
            </td>
            <td>
                <label>SMA Fast <input type='number' name='sma_fast' value="25" style="width: 50px"> days</label><br>
                <label>SMA Slow <input type='number' name='sma_slow' value="50" style="width: 50px"> days</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label><input type='checkbox' name='filter' value='investor_reco'> Investor Reco (finviz.com). Takes a long time</label>
            </td>
        </tr>
    </table>
    <input type="submit" value="Refresh Filters">
{#    onclick="window.location.href='/filter';" />#}
    {#    <input type="submit" onclick="window.location.href='/filter';" value="Refresh Filters"/>#}
</form>
{#<form>#}
{#    <label>#}
{#        <select name="pattern">#}
{#            <option value="">-- Select a Pattern --</option>#}
{#            {% for key in candlestick_patterns %}#}
{#                <option value="{{ key }}"#}
{#                        {% if pattern == key %}selected="selected"{% endif %}>{{ candlestick_patterns[key] }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#    </label>#}
{#    <input type="submit" value="Scan"/>#}
{#</form>#}

<table>
    <tr>
        <th>Symbol</th>
        <th>Company</th>
        <th>Bull Candle Signal</th>
        <th>Bear Candle Signal</th>
        <th>Investor's Reco</th>
    </tr>
    {% for symbol in stocks %}
    <tr>
        <td>
            <a href="https://www.finviz.com/quote.ashx?t={{ symbol }}"
               onmouseover="document.getElementById('place-holder-1').src='https://finviz.com/chart.ashx?t={{ symbol }}&ty=c&ta=1&p=d&s=l';"
               onmouseout="document.getElementById('place-holder-1').src='https://linkpeek.com/theme/img/linkpeek-transparent-pixel-placeholder.png';">
                {{ symbol }}
                <img src="https://linkpeek.com/theme/img/linkpeek-transparent-pixel-placeholder.png"
                     id="place-holder-1" style="zindex: 100; position: absolute;"  alt=""/>
            </a>
        </td>
        <td>
            {{ stocks[symbol]['Security'] }}
        </td>
        {% autoescape false %}
        <td class="bullish">
            {{ stocks[symbol]['cdl_sum_bul']  | replace(", ", "<br/>") }}
        </td>
        <td class="bearish">
            {{ stocks[symbol]['cdl_sum_ber']  | replace(", ", "<br/>") }}
        </td>
        <td class="investor_sum">
            {{ stocks[symbol]['investor_sum'] }}
        </td>
        {% endautoescape %}

        {#            <tr>#}
        {#                <td colspan="3">#}
        {#                    <img src="https://finviz.com/chart.ashx?t={{ symbol }}&ty=c&ta=1&p=d&s=l" width="75%"/>#}
        {#                </td>#}
        {#            </tr>#}
        <!-- <tr>
            <td colspan="3">
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
                <div class="chart" id="candlestick{{ symbol }}">
                    <script>
                        var graphs = {{ stocks[symbol]['chart'] | safe }};
                        Plotly.plot('candlestick{{ symbol }}', graphs, {});
                    </script>
                </div>
            </td>
        </tr> -->
        {% endfor %}
</table>

{#{% for table in tables %}#}
{#            {{titles[loop.index]}}#}
{#            {{ table|safe }}#}
{#{% endfor %}#}

</body>
</html>
