{% extends "layout.html" %}
{% block content %}
<h1>
    <div class="ui massive breadcrumb">
        <div class="active section">Technical Scanner</div>
    </div>
</h1>
<form action="#" method="GET">
{#    <input type="button" onclick="window.location.href='/snapshot';" value="Refresh Data"/>#}
{#    Last update: {{ data_last_modified }}#}
{#    <br>#}
    <div class="ui labeled button" tabindex="0" onclick="window.location.href='/snapshot';">
      <div class="ui button">
        <i class="download icon"></i> Refresh data
      </div>
      <a class="ui basic label">Last update: {{ data_last_modified }}</a>
    </div>
</form>
<br>
<form action="#" method="POST">
    <table>
        <tr>
            <td>
                <input id="consolidating" type="checkbox"  name="filter" value="consolidating"
                       {% if active_filters['consolidating']['go'] == True %}checked{% endif %}>
                <label for="consolidating"> Consolidating within </label>
                <input id="consolidating_pct" type="number" name="consolidating_pct"
                       value="{{ active_filters['consolidating']['pct'] }}" min="0" step="0.5">
                <label for="consolidating_pct">%</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="breakout" type="checkbox" name="filter" value="breakout"
                       {% if active_filters['breakout']['go'] == True %}checked{% endif %}>
                <label for="breakout"> Breakout over </label>
                <input id="breakout_pct" type="number" name="breakout_pct"
                       value="{{ active_filters['breakout']['pct'] }}" min="0" step="0.5">
                <label for="breakout_pct"> %</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="ttm_squeeze" type="checkbox" name="filter" value="ttm_squeeze"
                       {% if active_filters['ttm_squeeze']['go'] == True %}checked{% endif %}>
                <label for="ttm_squeeze"> TTM Squeeze (Coming out of Squeeze)</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="in_the_squeeze" type="checkbox" name="filter" value="in_the_squeeze"
                       {% if active_filters['in_the_squeeze']['go'] == True %}checked{% endif %}>
                <label for="in_the_squeeze"> TTM Squeeze (In the Squeeze)</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="ema_stacked" type="checkbox" name="filter" value="ema_stacked"
                       {% if active_filters['ema_stacked']['go'] == True %}checked{% endif %}>
                <label for="ema_stacked"> EMAs positively Stacked<br>
                    &emsp;(bullish) signals all fast emas are higher than the slow ema in the latest period.
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="candlestick" type="checkbox" name="filter" value="candlestick"
                       {% if active_filters['candlestick']['go'] == True %}checked{% endif %}>
                <label for="candlestick"> Candlestick</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="sma_filter" type="checkbox" name="filter" value="sma_filter"
                       {% if active_filters['sma_filter']['go'] == True %}checked{% endif %}>
                <label for="sma_filter"> SMA crossover:</label>
                <label for="sma_fast"> Fast</label>
                <input id="sma_fast" type="number" name="sma_fast"
                       value="{{ active_filters['sma_filter']['fast'] }}" min="0" step="1">
                <label for="sma_slow"> & Slow </label>
                <input id="sma_slow" type="number" name="sma_slow"
                       value="{{ active_filters['sma_filter']['slow'] }}" min="0" step="1">
                <label> days. <br>
                    &emsp;(bullish) signals fast sma crossing over higher than slow sma in the latest period.
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="investor_reco" type="checkbox" name="filter" value="investor_reco">
                <label for="investor_reco">Investor Reco (finviz.com). Takes a long time</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="focus_stocks" disabled type="checkbox" name="settings" value="focus_stocks">
                <label for="focus_stocks"> Focus stocks: </label>
                <input id="focus_stocks" type="text" name="focus_stocks" value="" style="width: 400px"
                       placeholder="AAPL, AMD, NVDA, TQQQ .... coming soon!" disabled>
            </td>
        </tr>
    </table>
{#    <input type="submit" value="Apply">#}
    <br>
    <button class="ui button">Submit</button>
</form>
<table class="ui compact table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            {% if active_filters['candlestick']['go'] == True %}
            <th>Bull Candle Signal</th>
            <th>Bear Candle Signal</th>
            {% endif %}
            {% if active_filters['investor_reco']['go'] == True %}
            <th>Investor's Reco</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for symbol in stocks %}
        <tr>
            <td>
                <a href="https://www.finviz.com/quote.ashx?t={{ symbol }}"
                   onmouseover="document.getElementById('img_{{ symbol }}').src='https://finviz.com/chart.ashx?t={{ symbol }}&ty=c&ta=1&p=d&s=l';"
                   onmouseout="document.getElementById('img_{{ symbol }}').src='';">
                    {{ symbol }}
                    <img src="" id="img_{{ symbol }}" style="z-index: 100; position: absolute;" alt=""/>
                </a>
            </td>
            <td>
                <a href="/stock/{{ symbol }}">{{ stocks[symbol]['Security'] }}</a>
            </td>
            {% autoescape false %}
            {% if active_filters['candlestick']['go'] == True %}
            <td {% if stocks[symbol]['cdl_sum_bul'] != "" %}class="bullish"{% endif %}>
                {{ stocks[symbol]['cdl_sum_bul']  | replace(", ", "<br/>") }}
            </td>
            <td {% if stocks[symbol]['cdl_sum_ber'] != "" %}class="bearish"{% endif %}>
                {{ stocks[symbol]['cdl_sum_ber']  | replace(", ", "<br/>") }}
            </td>
            {% endif %}
            {% if active_filters['investor_reco']['go'] == True %}
            <td class="investor_sum">{{ stocks[symbol]['investor_sum'] }}</td>
            {% endif %}
            {% endautoescape %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
