{% extends "layout.html" %}
{% block content %}
<h1>
    <div class="ui massive breadcrumb">
        <a href="/" class="section">Technical Scanner</a>
        <i class="angle double right icon"></i>
        <div class="active section">{{ stock.security }} ({{ stock.symbol }})</div>
    </div>
</h1>
<table class="ui compact table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for i, bar in stock['bars'].items() %}
        <tr>
            <td>{{ bar.Date }}</td>
            <td>{{ bar.Open }}</td>
            <td>{{ bar.High }}</td>
            <td>{{ bar.Low }}</td>
            <td>{{ bar.Close }}</td>
            <td>{{ bar.Volume }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
